/************************************
*NAV BAR
 ************************************/
.section-heading {
	text-align: left;
	margin: 1rem;
	font-size: 3rem;
	color: #40454f;
}

section {
	padding-top: 2rem;
}
/************************************
*NAV BAR
 ************************************/
.navbar {
	background-color: transparent;
	color: white;
	text-decoration: none;
	padding-top: 0;
}

nav a {
	color: #232A32;
	text-decoration: none;
}

nav a:hover {
	color: yellow;
}

.nav-item {
	color: #232A32;
	display: inline-block;
	float: right;
}

.navbar-nav {
	float: right;
}

/************************************
*JUMBOTRON
 ************************************/
.jumbotron {
	color: #232A32;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	background-image: url("https://dl.dropboxusercontent.com/s/mdjh7quyp87wt09/mountain.jpg?dl=0");
	height: 40rem;
	text-align: left;
	margin-bottom: 0;
	background-size: cover;
}

.title {
	font-size: 5em;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
}

.subtext {
	text-align: left;
}

/************************************
*WHAT WE DO
 ************************************/
#what-we-do {
	text-align: center;
	background-image: url("https://dl.dropboxusercontent.com/s/1uke37rz8x8qv92/color-dispersion-vert.jpg?dl=0");
	background-size: cover;
	padding-bottom: 3em;
}

#about-text {
	text-align: left;
	padding-left: 1em;
	font-size: 2em;
	color: #464651;
}

#about-subtext {
	text-align: left;
	padding-left: 3em;
	font-size: 1.25em;
	color: #212126;
}

#blue-text {
	color: #0E0E1C;
	font-weight: bold;
}
/************************************
*PROJECTS
 ************************************/
.section-heading-white {
	text-align: center;
	margin: 1rem;
	font-size: 3rem;
	color: #A5A38E;
}

#projects {
	background-color: #13131C;
}

.crowdvibe {
	border-bottom: solid #A5A38E 1px;
	padding: 2em;
}

.lalana {
	border-bottom: solid #A5A38E 1px;
	padding: 2em;
}

.handoff {
	padding: 2em;
}

.image {
	display: block;
	margin: auto;
}

#project-name {
	font-size: 1.5em;
	color: #666674;
}

li {
	color: #A5A38E;
	font-family: 'Montserrat', sans-serif;
}

#project-details {
	color: #666674;
	font-family: 'Montserrat-bold', sans-serif;
}

/************************************
*OVERLAY FROM BOTTOM - CROWDVIBE
 ************************************/
.overlay-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .7;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.crowdvibe2:hover .overlay-bottom {
	height: 100%;
}

.text-bottom {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/************************************
*OVERLAY FROM LEFT - LALANA
 ************************************/
.overlay-left {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .7;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.lalana2:hover .overlay-left {
	width: 100%;
}

.text-left {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/************************************
*OVERLAY FROM RIGHT - HANDOFF
 ************************************/
.overlay-left-handoff {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .7;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.handoff2:hover .overlay-left-handoff {
	width: 100%;
}

.text-left-handoff {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/************************************
*TEST
 ************************************/
#projects-2 {
	background-color: whitesmoke;
	padding-bottom: 2em;
}

#crowdvide-test {
	padding: 2em;
	display: block;
	border: 1em solid whitesmoke;
	background-image: url("https://dl.dropboxusercontent.com/s/zje8c681w9w06ru/social.jpg?dl=0");
	background-size: cover;
	height: 25rem;
}

#crowdvide-test:hover {
	background-color: red;
}

#lalana-test {
	padding: 2em;
	border: 1em solid whitesmoke;
	background-image: url("https://dl.dropboxusercontent.com/s/fxlmrl5kzroybb9/calenar.jpg?dl=0");
	background-size: cover;
	height: 25rem;
}

#handoff-test {
	padding: 2em;
	display: block;
	border: 1em solid whitesmoke;
	background-image: url("https://dl.dropboxusercontent.com/s/4shgb3760ind2tj/business.jpg?dl=0");
	background-size: cover;
	height: 25rem;
}

#project-description-title {
	text-align: right;
	font-weight: bold;
	color: #232A32;
	font-size: 2.5em;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'Special Elite', cursive;
}

#project-description-subtext {
	text-align: right;
	font-weight: bold;
	color: #232A32;
	font-size: 1em;
	font-family: 'Special Elite', cursive;
}

#project-description-title-left {
	text-align: left;
	font-weight: bold;
	color: #232A32;
	font-size: 2.5em;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'Permanent Marker', cursive;
}

#project-description-subtext-left {
	text-align: left;
	font-weight: bold;
	color: #232A32;
	font-size: 1em;
	font-family: 'Permanent Marker', cursive;
}


#project-description-title-center {
	text-align: center;
	font-weight: bold;
	color: #232A32;
	font-size: 2.5em;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
}

#project-description-subtext-center {
	text-align: center;
	font-weight: bold;
	color: #232A32;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}
	/************************************
	*APPROACH
	 ************************************/
#the-process {
	background-image: url("https://dl.dropboxusercontent.com/s/831sh0o0auydtxp/color-dispersion.jpg?dl=0");
	background-size: cover;
	padding-bottom: 4rem;
}

.process-name {
	color: #40454f;
	text-align: left;
	font-size: 2.5em;
}

.process-description {
	color: #818a9e;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 1em;
}

.process-number-odd {
	font-family: 'Abril Fatface', cursive;
	color: #081120;
	font-size: 10rem;
	display: inline-block;
	text-align: right;
	margin-top: 0;
	padding-top: 0;
}

#process-number-two {
	writing-mode: vertical-lr;
	text-orientation: sideways;
	font-family: 'Abril Fatface', cursive;
	color: #081120;
	font-size: 10rem;
	display: inline-block;
	text-align: right;
	margin-top: 0;
	padding-top: 0;
}

#process-number-four {
	transform:rotate(-180deg);
	writing-mode: vertical-lr;
	text-orientation: sideways;
	font-family: 'Abril Fatface', cursive;
	color: #081120;
	font-size: 10rem;
	display: inline-block;
	text-align: right;
	margin-top: 0;
	padding-top: 0;
}


/************************************
*CONTACT US
 ************************************/
#contact-us {
	background-color: #13131C;
	text-align: center;
	padding-bottom: 2rem;
	color: #A5A38E;
}

#contact-us-text {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.contact-us-subtext {
	text-align: center;
	font-size: 1.25em;
	color: #666674;
}

#contact-us a {
	color: white;
	text-decoration: underline;
}

#headingOne {
	background-color: #13131C;
	border: none;
}

.card-body {
	background-color: #13131C;
}

/************************************
*CONTACT FORM
 ************************************/
.card {
	background-color: #13131C;
	text-align: center;
	display: block;
	font-family: 'Montserrat', sans-serif;
	color: #A5A38E;
}

i {
	background: transparent;
	color: #A5A38E;
}

.input-group-addon, #name, #email, #phone, #message {
	background: transparent;
	border: none;
	border-bottom: solid #A5A38E 2px;
}

#name, #email, #phone, #message {
	width: 100%;
}

::placeholder {
	text-align: left;
}

.fa-paper-plane {
	color: #13131C;
}

.form-group {
	background: transparent;
	color: #A5A38E;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.submit-button {
	background-color: #A5A38E;
	color: #13131C;
	border: none;
	border-radius: 5%;
	font-family: 'Montserrat', sans-serif;
	margin: 1.5em;
	padding: 1em;
}

.reset-button {
	background-color: #666674;
	color: #13131C;
	border: none;
	border-radius: 5%;
	font-family: 'Montserrat', sans-serif;
	margin: 1.5em;
	padding: 1em;
}

input, select, textarea {
	color: whitesmoke;
}

input, select {
	color: whitesmoke;
}

/************************************
*FOOTER
 ************************************/
footer {
	background-color: #464651;
	color: #0E0E1C;
	padding: 2em;
	text-align: center;
}

footer p {
	color: #A5A38E;
	text-align: center;
	padding-bottom: .5em;
}

footer a {
	color: whitesmoke;
	text-align: center;
	padding-bottom: .5em;
}

#reach-out {
	text-align: center;
	padding-bottom: 1em;
}