RewriteEngine on
RewriteCond %{HTTP_HOST} ^skapadevelopment.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.skapadevelopment.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://skapadevelopment.com/$1 [L]