/************************************
*ALL
 ************************************/
h4, p {
	text-align: center;
	display: block;
}
section {
	padding: 2em;
}

/************************************
*NAV BAR
 ************************************/


/************************************
*BANNER
 ************************************/
#company {
	font-family: 'Iceland', cursive;
}

/************************************
*HOW IT WORKS
 ************************************/


/************************************
*PROJECTS
 ************************************/


/************************************
*ABOUT US
 ************************************/


/************************************
*CONTACT US
 ************************************/
form {

}

/************************************
*FOOTER
 ************************************/