/************************************
*ALL
 ************************************/
body {
	font-family: 'Source Serif Pro', serif;
}


h4, p {
	text-align: center;
	vertical-align: middle;
	display: block;
}

section {
	padding: 2em;
}

.card {
	border-radius: 10px;
	outline: none;
}


/************************************
*NAV BAR
 ************************************/
.nav-item {
	color: #242A31;
	display: inline-block;
	float: right;
}

/************************************
*BANNER
 ************************************/
#company {
	font-family: 'Iceland', cursive;
	font-size: 30px;
}

header {
	background-image: url(images/background.jpg);
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	min-height: 400px;
}

h1 {
	display: inline-block;
}

/************************************
*HOW IT WORKS
 ************************************/
#about {
	vertical-align: middle;
}

.circle {
	background-color: #EEEEEE;
	border-radius: 100%;
	display: inline-block;
	margin: auto;
	text-align: center;
	height: 75px;
	width: 150px;
	padding: .5em;
}

i {
	color: #e0d72c;
	margin: auto;
	text-align: center;
}

#work-process {
	text-align: center;
}
/************************************
*PROJECTS
 ************************************/
#projects {
	background-color: #EEEEEE;
}

/************************************
*ABOUT US
 ************************************/


/************************************
*CONTACT US
 ************************************/
#contact-us {
	background-color: #EEEEEE;
}

form {
	margin: auto;
	display: block;
}

input[type=submit] {
	background: #EEEEEE;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}

input[type=submit]:hover {
	background: #394D61;
}
/************************************
*FOOTER
 ************************************/
footer {
	background-color: #242A31;
	color: white;
	padding: 1em;
	text-align: center;
}

footer i {
	padding: .2em;
	color: #EEEEEE;
	margin: auto;
	text-align: center;
}

