/************************************
*NAV BAR
 ************************************/
#section-heading {
	text-align: center;
	margin: 1rem;
	font-size: 3rem;
	color: #40454f;
}

#section-heading-white {
	text-align: center;
	margin: 1rem;
	font-size: 3rem;
	color: white;
}
section {
	padding-top: 2rem;
}
/************************************
*NAV BAR
 ************************************/
.navbar {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: yellow;
}

.nav-item {
	color: #232A32;
	display: inline-block;
	float: right;
}

.navbar-nav {
	float: right;
}

#how-it-works {
	height: 35rem;
}
/************************************
*JUMBOTRON
 ************************************/
.jumbotron {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	background-image: url("images/lamp-copy.jpg");
	height: 30em;
	text-align: left;
}

.title {
	font-size: 5em;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
}

.title2 {
	font-size: 3.5em;
	text-align: left;
	margin-top: 0;
	padding-top: 0;
}

.subtext {
	text-align: left;
}

/************************************
*WHAT WE DO
 ************************************/

#accordion {
	margin: 3em;
}

.card {
	background-color: transparent;
	color: black;
	border-top: solid 2px;
	border-right: solid 2px;
	border-left: solid 2px;
}

.card-header {
	font-family: 'Abril Fatface', cursive;
	text-decoration: none;
	color: #081120;
	background-color: transparent;
}
/************************************
*PROJECTS
 ************************************/
#projects {
	background-image: url("images/wood.jpg");
}

.crowdvibe {
	border-bottom: solid #818a9e 1px;
	margin: 2em;
}

.lalana {
	border-bottom: solid #818a9e 1px;
	margin: 2em;
}

.handoff {
	border-bottom: solid #818a9e 1px;
	margin: 2em;
}

.image {
	display: block;
	margin: auto;
}

#project-name {
	font-size: 1.5em;
	color: white;
}

li {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#project-details {
	color: whitesmoke;
	font-family: 'Montserrat-bold', sans-serif;
}


/************************************
*APPROACH
 ************************************/
#process-name {
	color: #40454f;
	text-align: left;
	font-size: 2.5em;
}

#process-description {
	color: #818a9e;
	text-align: left;
	font-size: 1.5em;
	margin-bottom: 1em;
}


/************************************
*CONTACT US
 ************************************/
#contact-us {
	background-color: #EEEEEE;
	text-align: center;
	padding-bottom: 2rem;
}

form {
	margin: auto;
	display: block;
}

#customername, #email, #phone, #message, #subject {
	width: 300px;
}

#message {
	height: 150px;
}

input[type=submit] {
	background: #EEEEEE;
	border: 3px solid #e0d72c;
	padding: .5rem .75rem;
	border-radius: 5px;
	color: #818786;
}

input[type=submit]:hover {
	background: #818786;
	border: 3px solid #e0d72c;
	color: #EEEEEE;
}
/************************************
*FOOTER
 ************************************/
footer {
	background-color: #081120;
	color: white;
	padding: 1em;
	text-align: center;
}

footer i {
	padding: .2em;
	color: #EEEEEE;
	margin: auto;
	text-align: center;
}
